.header {
  &--default {
    width: 100%;
    max-height: 50px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fff8f8;

    .header {
      &__logo {
        margin: 0 auto;

        .image {
          max-height: 40px;
        }
      }

      &__contact {
        display: grid;
        grid-template-columns: 50px 1fr;
        margin: 0 auto;

        .phone {
          display: grid;
          align-items: end;
          font-weight: bold;
        }

        .icon {
          align-self: center;
          grid-row: span 2 / 1;
        }

        .time {
          font-weight: lighter;
          font-size: 0.7rem;
          color: #777;
        }
      }

      &__searcher {
        max-width: 200px;
        display: flex;
        align-items: flex-start;
        position: relative;

        .icon {
          position: absolute;
          right: 5px;
          top: 5px;
          width: 15px;
          opacity: 0.7;
        }

        .searcher {
          width: 100%;
          margin: 0 auto;
          padding: 5px 10px;
          text-transform: capitalize;

          &:hover,
          &:focus {
            border-color: rgba(black, 0.3);
          }
        }
      }
    }
  }
}
