.header {
  &--default {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;

    .header {
      &__logo {
        img {
          width: 200px;
        }
      }

      &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        &__item {
          width: 98px;
          list-style-type: none;
          border-right: 1px solid #252525;

          &__link {
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.8rem;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}
