.tabs {
  display: grid;
  width: 100%;
  padding: 0 20px;

  &__navigation {
    display: flex;
    margin: 10px 0;

    &-element {
      padding: 5px 10px;
      margin: 0 2px;
      font-size: var(--font-size-xs);
      border-bottom: 2px solid var(--color-primary);
      opacity: 0.5;
      text-transform: uppercase;
      cursor: pointer;

      &.is-active {
        border-bottom: 2px solid var(--color-primary-light);
        opacity: 1;
      }
    }
  }

  &__content {
    padding: 0 10px;
  }
}
