.product-properties {
  display: grid;
  background: var(--color-shade-1);
  max-width: 90%;
  margin: 20px auto;
  padding: 10px 10%;

  &__title {
    padding: 20px 0;
    font-size: var(--font-size-xs);
    font-weight: bold;

    .c-title {
      word-spacing: 0;
    }
  }
}
