@mixin root-colors {
  --color-primary-hue: 353;
  --color-primary-saturation: 72%;
  --color-primary-lumnosity: 23%;
  --color-primary-hsl: var(--color-primary-hue), var(--color-primary-saturation), var(--color-primary-lumnosity);
  --color-primary: hsl(var(--color-primary-hsl));
  //
  --color-primary-light-hue: 359;
  --color-primary-light-saturation: 63%;
  --color-primary-light-lumnosity: 44%;
  --color-primary-light-hsl: var(--color-primary-light-hue), var(--color-primary-light-saturation), var(--color-primary-light-lumnosity);
  --color-primary-light: hsl(var(--color-primary-light-hsl));
  //
  --color-secondary-hue: 11;
  --color-secondary-saturation: 88%;
  --color-secondary-lumnosity: 62%;
  --color-secondary-hsl: var(--color-secondary-hue), var(--color-secondary-saturation), var(--color-secondary-lumnosity);
  --color-secondary: hsl(var(--color-secondary-hsl));
  //
  --color-secondary-light-hue: 40;
  --color-secondary-light-saturation: 86%;
  --color-secondary-light-lumnosity: 55%;
  --color-secondary-light-hsl: var(--color-secondary-light-hue), var(--color-secondary-light-saturation), var(--color-secondary-light-lumnosity);
  --color-secondary-light: hsl(var(--color-secondary-light-hsl));
  //
  --color-accent-hue: 44;
  --color-accent-saturation: 100%;
  --color-accent-lumnosity: 66%;
  --color-accent-hsl: var(--color-accent-hue), var(--color-accent-saturation), var(--color-accent-lumnosity);
  --color-accent: hsl(var(--color-accent-hsl));
  //
  --color-accent-dark-hue: 39;
  --color-accent-dark-saturation: 100%;
  --color-accent-dark-lumnosity: 66%;
  --color-accent-dark-hsl: var(--color-accent-dark-hue), var(--color-accent-dark-saturation), var(--color-accent-dark-lumnosity);
  --color-accent-dark: hsl(var(--color-accent-dark-hsl));
  //
  --color-info-hue: 194;
  --color-info-saturation: 58%;
  --color-info-lumnosity: 55%;
  --color-info-hsl: var(--color-info-hue), var(--color-info-saturation), var(--color-info-lumnosity);
  --color-info: hsl(var(--color-info-hsl));
  //
  --color-success-hue: 150;
  --color-success-saturation: 81%;
  --color-success-lumnosity: 44%;
  --color-success-hsl: var(--color-success-hue), var(--color-success-saturation), var(--color-success-lumnosity);
  --color-success: hsl(var(--color-success-hsl));
  //
  --color-warning-hue: 55;
  --color-warning-saturation: 82%;
  --color-warning-lumnosity: 62%;
  --color-warning-hsl: var(--color-warning-hue), var(--color-warning-saturation), var(--color-warning-lumnosity);
  --color-warning: hsl(var(--color-warning-hsl));
  //
  --color-error-hue: 9;
  --color-error-saturation: 84%;
  --color-error-lumnosity: 56%;
  --color-error-hsl: var(--color-error-hue), var(--color-error-saturation), var(--color-error-lumnosity);
  --color-error: hsl(var(--color-error-hsl));
  //Text Color
  --color-text-hue: 0;
  --color-text-saturation: 0%;
  --color-text-lumnosity: 0%;
  --color-text-hsl: var(--color-text-hue), var(--color-text-saturation), var(--color-text-lumnosity);
  --color-text: hsl(var(--color-text-hsl));

  //Text Color Secondary
  --color-text-secondary-hue: 100;
  --color-text-secondary-saturation: 100%;
  --color-text-secondary-lumnosity: 100%;
  --color-text-secondary-hsl: var(--color-text-secondary-hue), var(--color-text-secondary-saturation), var(--color-text-secondary-lumnosity);
  --color-text-secondary: hsl(var(--color-text-secondary-hsl));

  // Gray colors
  @for $i from 0 through 20 {
    --color-shade-#{$i * 100}-hsl: 0, 0%, #{100 - ($i * 5)}#{'%'};
    --color-shade-#{$i * 100}: #{'hsl(var(--color-shade-#{$i * 100}-hsl))'};
  }
}
