
@-webkit-keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(#5a99d480, 0);
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(#5a99d467, 0);
  }
}
