.product-heading {
  display: grid;
  background: white;
  padding: 10px;
  max-width: 90%;
  margin: 20px auto;

  &__title {
    font-size: var(--font-size-2xl);
    padding: 20px 0;

    .subtitle {
      font-size: var(--font-size-xs);
    }
  }

  &__info {
    padding: 20px;
    margin-right: 20px;
    box-shadow: var(--shadow-close);
  }

  &__details {
    position: relative;
    font-size: var(--font-size-xl);

    .discount {
      display: none;
      position: absolute;
      right: -20px;
      top: 0;
      background-color: var(--color-info);
      padding: 5px 15px;
      color: white;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -17px;
        border: 16.5px solid var(--color-info);
        border-left-color: transparent;
      }
    }

    .price {
      font-weight: var(--font-weight-black);
      font-size: var(--font-size-xl);
      display: flex;

      &--old {
        text-decoration: line-through;
        font-size: var(--font-size-xs);
        color: var(--color-error);
      }
    }

    .availability {
      font-size: var(--font-size-2xs);
      padding-bottom: 10px;

      .info {
        font-weight: var(--font-weight-black);
        color: var(--color-info);
      }

      .warning {
        font-weight: var(--font-weight-black);
        color: var(--color-warning);
      }

      .error {
        font-weight: var(--font-weight-black);
        color: var(--color-error);
      }
    }

    .description {
      font-size: var(--font-size-xs);
      padding-right: 50px;
      opacity: 0.5;
      line-height: 18px;
      word-spacing: 2px;
    }
  }

  .gift {
    cursor: pointer;
    background-color: var(--color-info);
    margin: 0 10px;
    padding: 0 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 30px;
    width: 30px;
    animation: pulse 1.5s ease-out infinite;

    &:hover {
      background-color: var(--color-secondary);
    }

    img {
      max-width: 100%;
    }
  }

  &__buttons {
    margin-top: 20px;
  }

  .slider {
    padding-top: 40px;
  }
}
