.checkout {
  &__form {
    border-right: 1px solid black;
  }

  .l-default__content {
    margin: 10px 20px;
    background-color: white;
    border-radius: 2px;
    height: 100%;
    padding: 20px;
  }
}

.section {
  padding: 2em 0;
}

.fade-up-enter-active,
.fade-up-leave-active {
  transition: all 0.3s ease-in-out;
}

.fade-up-enter,
.fade-up-leave-to {
  height: 0;
  transform: translateY(30px);
  opacity: 0;
}
