.megamenu {
  height: 50px;

  &--default {
    background-color: var(--color-accent);
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: scroll;
  }

  &__element {
    margin: 0 20px;
    font-size: var(--font-size-xs);
    text-transform: uppercase;
    opacity: 0.6;
    white-space: nowrap;
    padding-right: 5px;
    font-weight: bold;
    margin-left: auto;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }

    &--highlight {
      opacity: 1;
      font-weight: bold;
    }
  }
}
