.footer {
  background-color: black;
  color: white;
  padding: 0 20px;

  &__wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 2fr;
  }

  .footer {
    &-links,
    &-static,
    &-contact {
      padding: 20px;
      border-right: 1px solid white;
    }
  }
}
