.footer-default {
  background-color: black;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 2fr;
  color: white;
  padding: 20px;

  .footer {
    &-links,
    &-static,
    &-contact {
      padding: 20px;
      border-right: 1px solid white;
    }
  }
}
