.specifications {
  font-size: var(--font-size-m);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 5px;
  border-radius: 10px;
  display: block;

  &__heading {
    text-align: left;
    padding: 5px 10px;
    background-color: #444;
    color: var(--color-shade-1);
  }

  &__value {
    border-bottom: 1px solid var(--color-shade-19);
    padding: 5px 10px;
    color: vvar(--color-text);
  }

  &--text {
    .specifications {
      &__row {
        display: inline-block;
        width: 100%;
        padding: 2px 20px;
      }

      &__value,
      &__heading {
        padding: 0;
        min-width: 15;
      }

      &__heading {
        background: transparent;
        color: var(--color-text);
        text-transform: uppercase;
        letter-spacing: -1px;
      }

      &__value {
        border: none;

        &::before {
          content: ':';
          padding-right: 5px;
        }
      }
    }
  }

  &--cloud {
    background-color: var(--color-text-secondary);

    .specifications__row {
      display: flex;
    }

    .specifications__heading {
      text-transform: uppercase;
      border: 2px dashed var(--color-text);
      padding: 5px;
      background-color: var(--color-text-secondary);
      border-radius: 5px;
      display: block;
    }
  }
}
