.c-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  cursor: move;
  display: none;

  &.is-active {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  &__content {
    cursor: default;
    background-color: white;
    margin: 30px;
    padding: 50px;
  }

  &--small {
    .c-modal__content {
      max-width: 500px;
    }
  }

  &--rounded {
    .c-modal__content {
      border-radius: 5px;
    }
  }
}
