.commons-text {
  color: var(--color-text-secondary);
  max-width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  font-size: var(--font-size-xl);

  &__title {
    font-size: var(--font-size-2xl);
    padding: 20px 0;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-text-secondary);
  }

  &__description {
    padding: 10px 0;
    font-size: var(--font-size-xs);
  }
}
