.forms-client {
  &__legend {
    font-size: var(--font-size-xl);
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: bold;
  }

  &__fields {
    height: 100%;
    padding: 10px 10px 0 0;
    display: flex;
    flex-wrap: wrap;
  }

  .input {
    min-width: 50%;
    padding: 10px;
  }
}
